#map {
	width: 90%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

#progressDiv {
	width: 90%;
	/* height: 400px; */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
}

#modalButton{
	background-color: black !important;
	/* background-color: rgba(255,76,11,0.87) !important; */
	border-color: black !important;
	/* border-color: rgba(255,76,11,0.87) !important; */
	
	/* color:black; */
	color:white;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 1%;
}
#modalButton:hover{
	background-color: rgba(255,76,11,0.87) !important;
	border-color: rgba(255,76,11,0.87) !important;
	
	color: white;
	/* color:black; */
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

#postSubmit{
	background-color: rgba(255,76,11,0.87) !important; 
	border-color: rgba(255,76,11,0.87) !important;
}

#postSubmit:hover{
	background-color: black !important; 
	border-color: black !important;
}

.postSuccessMessage{
	font-size: 18px;
	text-align: center;
}

.formDiv{
    margin: 5% 15%;
}

.submission{
	margin: 2% 5%;
	font-style: italic;
}

.statsTableLeft{
	margin-left: 3%;
	margin-bottom: 5%;
	width: 45%;
	float: left;
	background-color: whitesmoke;
}

.statsTableRight{
	margin-right: 3%;
	margin-bottom: 5%;
	width: 45%;
	float: right;
	background-color: whitesmoke;
}

.newP{
	margin: 5% 20%;
}

.newHeader{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5%;
	margin-right: 5%;
}

.newBody{
	background-color: #c5c8c5;
	color: #000000;
}