#map {
	width: 90%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

#progressDiv {
	width: 90%;
	/* height: 400px; */
	margin-left: auto;
	margin-right: auto;
}

#modalButton{
	background-color: rgba(255,76,11,0.87) !important;
	border-color: rgba(255,76,11,0.87) !important;
	color:black;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.formDiv{
    margin: 5% 15%;
}

.statsTables{
	margin: 5% 20%;
}

.newP{
	margin: 5% 20%;
}

.newHeader{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 5%;
}

.newBody{
	background-color: #c5c8c5;
	color: #000000;
}