<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(255,76,11,0.87)">
    <a class="navbar-brand" href="index" style="color: #000000">Where in the World?</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    ​
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index" style="color: #000000">Map</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="about" style="color: #000000"><u>About</u><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="stats" style="color: #000000">Statistics</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
<p class="newP">This web app contains an interactive map for OSU students to pin their geographic location. As students in an online program, it can often feel like you're alone in this battle. Our hope is that this tool will help students foster connections within their local communities. </p>
<p class="newP">Created during the spring 2020 hackathon</p>
<p class="newP">By: Alexis Chasney, Kelley Neubauer, Andre Paul, and Jason Rash</p>
</div>
<script src="./src/script.js"></script>