<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./index.html">Where in the World?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    ​
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="./index.html">Map </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./about.html">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./stats.html">Statistics</a>
            </li>
        </ul>
    </div>
</nav>

<p class="newP">This site has an interactive map for OSU students to pin their location. Then you can see where your fellow students are located. The statistics page has some data on the locations of students. </p>

<script src="./src/script.js"></script>