<nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(255,76,11,0.87)">
    <a class="navbar-brand" href="index" style="color: #000000">Where in the World?</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    ​
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index" style="color: #000000">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about" style="color: #000000">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="stats" style="color: #000000"><u>Statistics</u><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<table class="cityTable" onload="cityTable()">
    <thead class="thead-dark">
        <tr>
            <th scope="col">City</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
    </table>


<script src="./src/script.js"></script>
<script src="./src/stats.js"></script>